<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      div.move {
        margin: 100px 500px;
        padding: 20px;
      }
      .container {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="m-3">
      <h3 class="text-center" onclick="location.href='/'">Coin_Market</h3>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"
      ></script>
      <div class="container">
        <div class="col">
          <h5 class="mt-4">Main</h5>
        </div>
        <div class="col" align="right">
          <br />
          <button
            type="button"
            href="{{ url_for('logout') }}"
            class="btn btn-success"
            onclick="location.href='/logout'"
          >
            로그아웃
          </button>
        </div>
      </div>
      <hr />
    </div>

    <div class="d-block">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5>{{username}} 님</h5>
            <br />
          </div>

          <div class="col-9">
            <table>
              <tbody>
                {% for st in user_query %}
                <tr>
                  <td>보유 코인: {{st.u_coin}}&nbsp;&nbsp;</td>
                  <td>보유 금액: {{st.u_cash}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col">
              <button
                type="button"
                class="btn btn-success"
                onclick="location.href='/update_cash_input'"
              >
                입/출금
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <br />
              <button
                type="button"
                class="btn btn-success"
                onclick="location.href='/upload'"
              >
                업로드
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-4">
          <h5>Market List</h5>
          {% for st in product_query %}
          <div class="card col">
            <div class="card-body">
              <h6 class="card-title">판매자: {{ st.m_seller }}</h6>
              <p class="card-text">가격: {{ st.m_price }} 원</p>
              <p class="card-text">갯수: {{ st.m_coin }} 개</p>
            </div>

            <div class="col">
              <a
                class="btn btn-success"
                href="{{ url_for('purchase', id = st.id, m_seller = st.m_seller) }}"
                >구매하기</a
              >
              
              {% if username == st.m_seller %}
              <form action="{{ url_for('cancel_sale', id=st.id) }}" method="POST">
                <br>
                <input type="submit" value="취소" class="btn btn-success">
              </form>
              {% endif %}
            </div>
            <br />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="container" style="justify-content: flex-end">
      <button
        type="button"
        class="btn btn-success"
        onclick="location.href='/coin_price_history'"
      >
        가격 변동 보기
      </button>
    </div>
  </body>
</html>