<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h3 class="m-5 text-center" onclick="location.href='/'">Coin_Market</h3>
    <h5 class="mt-4 mb-2 text-center">업로드</h5>
    <hr />

    <div>
      <form
        style="width: 350px; margin: 5 auto"
        action="{{ url_for('upload') }}"
        method="POST"
      >
        <div class="form-group">
          <label for="exampleInputEmail1">코인 이름</label>
          <input type="text" name="name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">가격</label>
          <input
            type="text"
            name="price"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputName1">갯수</label>
          <input
            type="text"
            name="coin"
            class="form-control"
            id="exampleInputName1"
          />
        </div>

        <input type="submit" value="등록" class="btn btn-link float-right" />
      </form>
    </div>
  </body>
</html>
